div.grid-container{
  padding: 10px;
  margin:1%;
  display: grid;
  grid-template-columns: [first] 25% [line2] 25% [line3] 25% [four] 25% [end];
}

div.grid-item {
    padding: 13px;
    background: #9e9e9e42;
    margin: 1px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.grid-item:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #8985bb42;
  cursor:  pointer;
}

div.Login {
    float: right;
}
.spotifyImg {
  background: 'url('/images/favicon.ico')';
  background-size: 300px 100px; 
}
.userInfoContainer{
    margin-top: 80px;
    margin-left: 200px;
}

.userInfoLabels{
  display:inline;
}
.userInfoContent{
  margin: 10px;
  font-size: 13pt;
  //font-weight: bold;
}
.albumImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
    padding-bottom: 17px;
}
.checkClass {
  background: red;
}

.mediumButton{
  width: 20%;
  height: 50px;
  border-radius: 8px;
  font-size: 10pt;
  margin-left: 40%;
}

.disableRecomendationButton{
    cursor: not-allowed;
    pointer-events: none;
    color: gray;
    background-color: #9e9e9e42;
    
}

.enableRecomendationButton{
  cursor: pointer;
  pointer-events: all;
  color: white;
  background-color: #0ea6eacf;
}
.enableRecomendationButton:hover {
  background-color: #6dcffbcf;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:40px;
    height:40px;
    background:transparent;
}
input[type='checkbox']:checked {
    background: url('./images/check.png') no-repeat;
    background-size: 40px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
  overflow: scroll;
  right: 200px;
  bottom: 40px;
  top: 40px;
  left: 200px;      
    
}
.closeButton{
    float: right;
    background-color: transparent;
    border: none;
    color: gray;
}

.loaderSpinner {
    color: red;
    padding-left: 40%;
    padding-top:20%;
    width: 300px;
    position: relative;

}
.trackList {
  margin:1px;
  padding:9px;
  background: #9e9e9e42;
}

.listHolder {
  margin-top:7px;
}
.ulClassRecos {
    list-style-type: none;
    padding: 0;
}
.headerRecos{
  margin-top:7px;
}
.recommendationHeader{
  text-align: center;;
}

.accountBoxContainer{
  float: left;
}
.userInfo {
  margin: 16px;
}
.userDetailHeader {
    margin-left: 26px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.icon-react {
  background: url('./images/react-globe.png') no-repeat;
  background-size: 500px;
  width:500px;
  height:500px;
}
.icon-spotify{
  background: url('./images/spotify2.png') no-repeat;
  background-size: 500px;
    width:500px;
    height:500px;
}

.icon-redux{
  background: url('./images/redux-logo.png') no-repeat;
  background-size: 500px;
  width:500px;
  height:500px;
}

.iconTable{
  width: 100%;
}

.iconTable td{
  align: center;
}

.getStarted{
  text-align: center;
  font-size:30pt; 
}

.icon-spin {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
